     section {
         scroll-margin-top: 10vh;
     }

     * {
         margin: 0;
         padding: 0;

         color: white;
         font-size: 1.1rem;
         /* background-color: bla; */
         font-family: "poppins", 'Times New Roman', Times;
     }

     header {
         position: sticky;
         top: 0;
     }

     nav {
         display: flex;
         align-items: center;
         justify-content: space-around;
         background-image: url(navimg.webp);
         background-repeat: no-repeat;
         background-size: cover;
         padding: 1vb;
         height: 10vh;


     }

     nav .logo img {
         width: auto;

         height: 9vh;
         background: none;

     }

     nav .logo {

         height: 8vh;
     }

     .name a {
         text-decoration: none;
     }

     .left {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 1vw;
     }

     .right ul {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 3vw;
         /* padding: ; */

         list-style: none;
     }

     @media only screen and (max-width:700px) {

         header {
             position: static;
         }

         nav .right {
             display: none;
         }

         .left {
             justify-content: space-around;
             gap: 50vw;
         }



     }


     .right ul li a {
         text-decoration: none;
     }

     .home {
         background: linear-gradient(rgba(0, 0, 0, 0.735), rgba(0, 0, 0, 0.654)), url('fpage.webp');
         background-repeat: no-repeat;
         background-size: cover;

         margin: 0;
         min-height: 79vh;
         display: flex;

         justify-content: space-around;
         padding: 5vh;
     }


     ul li:hover {
         background: linear-gradient(rgb(42, 108, 252), rgb(40, 40, 247));
         color: aliceblue;
         padding: 1vb 2vh;
         border-radius: 33px;
         transition: 0.1s;
     }

     .name h1 {
         font-size: 3vb;
     }

     @media only screen and (max-width:400px) {
         .name h1 {
             font-size: 2vb;
         }
     }


     .h1 {
         padding-top: 10vh;
     }

     .quote h1 {
         color: rgb(235, 228, 228);
         font-size: 6vb;


     }


     .photo img {
         width: auto;
         border-radius: 10%;
         height: 55vh;
     }

     .appoint {
         margin: 0vh 0%;
         background: linear-gradient(rgb(3, 3, 122), rgb(42, 42, 250));
         border-radius: 30px;
         padding: 1.5vb;
         border: none;
         font-weight: 600;


     }

     .motivat {
         width: 50vw;
         padding: 5vh 0;
     }

     .motivat a {
         text-decoration: none;
         color: rgb(199, 235, 21);
     }

     .appoint a {
         text-decoration: none;
         font-size: 1rem;
         color: aliceblue;

     }

     .appoint:hover {
         color: aliceblue;
         padding: 1.8vh;
         border-radius: 33px;
         transition: 0.2s ease;
     }

     .service {
         background: linear-gradient(rgba(0, 0, 0, 0.735), rgba(0, 0, 0, 0.654)), url('serbag.jpg');

         background-repeat: no-repeat;
         background-size: cover;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: -5vh;
         padding: 50px;
         grid-template-columns: 5;
         align-items: center;
         justify-content: center;
         min-height: 100vh;
         scroll-margin-top: 10vh;
         gap: 30px;


     }

     .service>h1 {
         padding-top: 10vh;
     }

     .service div h2 {
         color: rgb(31, 47, 86);
         font-family: "Roboto";
     }

     .service div p {
         color: rgb(38, 25, 25);
         font-weight: normal;
         /* letter-spacing: 0%; */
     }

     #pharma {
         min-height: 100vh;
         scroll-margin-top: 10vh;

     }





     .doctor1,
     .doctor2 {

         max-height: 80vh;
         min-width: 35vw;
         background-color: rgba(188, 197, 191, 0.728);
     }

     .pharmacist {
         background: linear-gradient(rgba(0, 0, 0, 0.735), rgba(0, 0, 0, 0.654)), url('bg2.jpg');

         background-repeat: no-repeat;
         background-size: cover;
         padding-top: 10vh;
         display: flex;
         color: rgb(4, 3, 3);
         gap: 10vh;
         /* border: 2px solid ; */
         justify-content: center;

     }

     .d1phot,
     .d2phot {
         padding: 3vb;

         /* border-radius: 1px solid black; */
         display: flex;
         /* align-items: center; */
         justify-content: center;
         border: 2px solid black;
         border-radius: 33px;
         margin-top: 3vh;
         background-color: #848bc2;
         padding-bottom: 0;

     }

     .doctor1,
     .doctor2 {
         display: flex;
         flex-direction: column;
         align-items: center;
         border: 2px solid;

         border-radius: 10px;
     }

     .d1phot,
     .d2phot {
         height: 10em;
     }

     .d1phot>img,
     .d2phot>img {
         width: 7em;

         overflow: hidden;
         /* margin-top: 10px; */


     }

     h5 {
         font-size: 0.8rem;
         font-weight: 100;
     }

     .dname>h3 {
         color: black;
     }

     .dname h5 {
         color: black;
     }

     .dname img {
         width: 5vw;
     }

     .dname {
         display: flex;
         flex-direction: column;
         align-items: center;

     }



     #home {
         scroll-margin-top: 12vh;

     }

     .ser{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: wheat;
         padding: 3vb;
         width: 50vw;
         border: 2px solid white;
         border-radius: 10pc;
         /* margin-top: 100vh; */

     }
     .ser:hover{
        border: 3px solid white;
        background-color: rgb(248, 219, 164);
        transition: 10ms ;
     }

     .service p {
         text-align: justify;
     }

     .service>h1 {
         font-size: larger;
         font-weight: 1000;

     }

     .ytl img {
         /* size: 150%; */
         width: 14vw;
     }

     .fylogo {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 5vh;
     }

     
  
     .foot {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: rgb(31, 31, 31);
        }
        
        .foot h3 {
            color: rgb(255, 255, 255);
            
            font-weight: 10;
            
        }
        
        #book {
              background: linear-gradient(rgba(0, 0, 0, 0.735), rgba(0, 0, 0, 0.654)), url('appback.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            scroll-margin-top: 10vh;
            display: flex;
            /* flex-direction: column; */
            justify-content: space-between;
            align-items: center;
            
        }
        #book .yourvisit{
            display: flex;
            flex-direction: column;
            gap: 6vh;
        }
        
        #book p {
            font-size: 1em;
            color: rgb(237, 238, 233);
            font-family: 'Times New Roman';
            letter-spacing: 1px;
            font-weight: 300;
            margin-left: 10vh;
            text-align: justify;
        }
        .formbutton{
        margin-left: 15vh;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .formbutton button{
        border: none;
        border-radius: 8px;
        padding: 4px 8px;
        background: linear-gradient(rgb(107, 107, 174) , blue);
    }
    .formbutton button a{
        text-decoration: none;
    }
    #book p a{
        
        font-size: 0.9em;
        color: rgb(30, 174, 75);
        
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
        
        
    }
    #book h1{
        font-size: 2rem;
        color: rgb(184, 202, 194);
        
        letter-spacing: 0.5px;
        
        margin-left: 10vh;
    }
    
    #book .para {
        max-width: 50vw;
           /* font-family: Arial; */
    }
    .para .p{
        font-family: Arial;
    }
    #contact {
         background: linear-gradient(rgba(115, 125, 116, 0.735), rgba(112, 104, 104, 0.654)), url('contackbackground.avif');
         background-repeat: no-repeat;
         background-size: cover;
        min-height: 100vh;
        scroll-margin-top: 12vh;
        padding: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
    }
         .address a img {
         width: 4vb;
     }
        .address {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 3vw;
         
        }
        
        .address a {
            display: flex;
         align-items: center;
         justify-content: center;
         background-color: #848bc2;
     }
     